@font-face {
  font-family: yekan;
  font-weight: 200;
  src: url(/fonts/Yekan-Bakh-Hairline.ttf);
}
@font-face {
  font-family: yekan;
  font-weight: 300;
  src: url(/fonts/Yekan-Bakh-Thin.ttf);
}
@font-face {
  font-family: yekan;
  font-weight: 400;
  src: url(/fonts/Yekan-Bakh-Light.ttf);
}
@font-face {
  font-family: 500;
  src: url(/fonts/Yekan-Bakh-Medium.ttf);
}
@font-face {
  font-family: yekan;
  font-weight: 600;
  src: url(/fonts/Yekan-Bakh-Regular.ttf);
}
@font-face {
  font-family: yekan;
  font-weight: 700;
  src: url(/fonts/Yekan-Bakh-Bold.ttf);
}
@font-face {
  font-family: yekan;
  font-weight: 800;
  src: url(/fonts/Yekan-Bakh-Fat.ttf);
}
@font-face {
  font-family: yekan;
  font-weight: 900;
  src: url(/fonts/Yekan-Bakh-Heavy.ttf);
}
html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  direction: rtl;
  font-family: yekan;
  font-weight: 600;
  overflow-x: hidden;
  background-color: rgb(40, 40, 40);
}
html,
body,
a,
p,
span,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: yekan;
  font-weight: 600;
}
button {
  font-family: yekan;
  font-weight: 700;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 4px;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #adadad;
}

/* [class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 200px;
  max-height: 100vh;
}

.number-slide1 {
  background: rgb(64, 175, 255);
  background: linear-gradient(
    128deg,
    rgba(64, 175, 255, 1) 0%,
    rgba(63, 97, 255, 1) 100%
  );
}

.number-slide2 {
  background: rgb(255, 75, 64);
  background: linear-gradient(
    128deg,
    rgba(255, 154, 63, 1) 0%,
    rgba(255, 75, 64, 1) 100%
  );
}

.number-slide3 {
  background: rgb(182, 255, 64);
  background: linear-gradient(
    128deg,
    rgba(182, 255, 64, 1) 0%,
    rgba(63, 255, 71, 1) 100%
  );
  background: linear-gradient(
    128deg,
    rgba(189, 255, 83, 1) 0%,
    rgba(43, 250, 82, 1) 100%
  );
}

.number-slide4 {
  background: rgb(64, 255, 242);
  background: linear-gradient(
    128deg,
    rgba(64, 255, 242, 1) 0%,
    rgba(63, 188, 255, 1) 100%
  );
}

.number-slide5 {
  background: rgb(255, 64, 156);
  background: linear-gradient(
    128deg,
    rgba(255, 64, 156, 1) 0%,
    rgba(255, 63, 63, 1) 100%
  );
}

.number-slide6 {
  background: rgb(64, 76, 255);
  background: linear-gradient(
    128deg,
    rgba(64, 76, 255, 1) 0%,
    rgba(174, 63, 255, 1) 100%
  );
}

.thumbnail .keen-slider__slide {
  font-size: 30px;
  margin-top: 10px;
  height: 100px;
}
.thumbnail .keen-slider__slide {
  cursor: pointer;
}
.thumbnail .keen-slider__slide.active {
  border: 2px dashed black;
} */
