@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Spartan:wght@400;500;600;700;800&display=swap);

@font-face {
  font-family: "IRANSans";
  src: url("/fonts/YekanBakhFaNum-Regular.woff");
}
:root{
  --font-primary: "IRANSans", "Poppins", sans-serif;
  --font-secondary: "IRANSans", "Spartan", sans-serif;
}
html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  direction: rtl;
  font-family: IRANSans;
  overflow-x: hidden;
  background-color: rgb(40, 40, 40);
}
html,
body,
a,
p,
span,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: IRANSans;
}
button {
  font-family: IRANSans;
  font-weight: 700;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 4px;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #adadad;
}